
.carousel1{
    z-index: -3;
    width: 100%;
    height: 100vh;
    margin: 0;
    .carousel-item1{
        z-index: -2;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100vh;
        &--1{
            background-image: url('https://images.pexels.com/photos/1139541/pexels-photo-1139541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            height: 100vh;
            background-size: cover;
        }
        &--2{
            background-image: url('https://images.pexels.com/photos/4825701/pexels-photo-4825701.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            height: 100vh;
            background-size: cover;
        }
        &--3{
            background-image: url('https://images.pexels.com/photos/147411/italy-mountains-dawn-daybreak-147411.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            height: 100vh;
            background-size: cover;
        }

    }
}
@media (max-width:500px) {
    .carousel-text{
        width: 90% !important;
    }
}
.carousel-text{
            
    width: 60%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &--header{
        margin-bottom: .8rem;
    }
    &--subtext{
        margin-top: 1rem;
    }
}
